*body{
    margin: 0;
    padding: 0;

}
.header{
    background-color: #ffffff;
}

.container {
    max-width: 1200px;
    align-items: center;
    display: flex;
    margin: auto;
    padding: 15px 20px;
    justify-content: space-between;
}
.nav-item a{
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size: 500;
}

.but {
    background: #30B868;
    color: #ffffff;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.but:hover {
    background-color: #f80905;
}